<h2>Your album collection</h2>

<LinkTo @route="add-album">Add a new album!</LinkTo>

<table class="album-collection" border="1">
  <thead>
    <tr>
      <th></th>
      <th width="20%" class="cell">Artist</th>
      <th width="40%" class="cell">Album</th>
      <th width="20%" class="cell">Genres</th>
      <th width="10%" class="cell">Year of release</th>
      <th width="10%" class="cell">Spotify</th>
    </tr>
  </thead>
  <tbody>
    {{#each albums as |album|}}
      <tr>
        <td><img src={{album.albumCoverUrl}} alt="cover" width="100px" height="100px"></td>
        <td class="cell">{{album.artistName}}</td>
        <td class="cell">{{album.albumName}}</td>
        <td class="cell">{{album.genres}}</td>
        <td class="cell">{{album.yearOfRelease}}</td>
        <td class="cell"><a href={{album.spotifyLink}}>Spotify</a></td>
      </tr>
    {{/each}}
  </tbody>
</table>